[mysqld]
max_allowed_packet = 1G
net_read_timeout = 60000
net_write_timeout = 60000
#require_secure_transport = ON
ssl-ca=/etc/mysql/ssl/ca-cert.pem
ssl-cert=/etc/mysql/ssl/server-cert.pem
ssl-key=/etc/mysql/ssl/server.key
